body {
    font-family: 'Quicksand', sans-serif;
    background: #fdfaf6;
    margin: 0;
    padding: 0;
    display: flex; /* Usa Flexbox */
    flex-direction: column; /* Apila los elementos verticalmente */
    min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la ventana */
}

header {
    background-color: #4e342e;
    color: white;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    background-color: #6d4c41;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffccbc;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1.2rem;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s ease;
    position: relative;
}
nav a::after {
    position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}
nav a:hover,
nav a:focus,
nav a.active {
    color: #fff3f5;
}
nav a:hover::after,
nav a:focus::after,
nav a.active::after {
    width: 50%;
}

main {
    padding: 20px;
    flex: 1; /* Permite que el main crezca para ocupar el espacio restante */
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
}

/*buscador de html */

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #6d4c41;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 1200px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: #ffffff; /* Siempre blanco */
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #995d10;
  font-weight: 1200;
  color: #000000; /* También blanco cuando está seleccionado */
}

.name {
  font-weight: 600;
  font-size: 1.2rem;
    color: #ffffff;
}

.izquierda {
        text-align: left;
        background-color: #4e342e;
        border: none;
        color: white;
        padding: 2px 4px;
        font-size: 1rem;
        border-radius: 8px;
        cursor: pointer;
        position: fixed;
        top: 6px;
        left: 6px;
        z-index: 1000;
        font-weight: 600; /* Grosor seminegrita */
        font-size: 28px; /* Tamaño de letra */
    }

    .derecha {
        text-align: left;
        background-color: #4e342e;
        border: none;
        color: white;
        padding: 2px 4px;
        font-size: 1rem;
        border-radius: 8px;
        cursor: pointer;
        position: fixed;
        top: 6px;
        left: 36px;
        z-index: 1000;
        font-weight: 600; /* Grosor seminegrita */
        font-size: 28px; /* Tamaño de letra */

    }
    .refresh {
        text-align: left;
        background-color: #4e342e;
        border: none;
        color: white;
        padding: 2px 4px;
        font-size: 1rem;
        border-radius: 8px;
        cursor: pointer;
        position: fixed;
        top: 6px;
        left: 66px;
        z-index: 1000;
        font-weight: 1000; /* Grosor seminegrita */
        font-size: 20px; /* Tamaño de letra */

    }

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    position: absolute;
    left: 20px;
    top: 20px;
}


footer {
    background: #4e342e;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    margin-top: auto;
    flex-shrink: 0;
    height: 15px;
    font-size: 1rem;
}




